.viewContainer {
    position: relative;
    align-self: center;
    display: flex;
    flex: 1;
    width: 90%;
    height: 90%;
}

.viewPhoto {
    width: 49%;
    min-width: 10vw;
    max-width: 50vw;
    max-height: 90%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0;
}

.rightFrame {
    position: absolute;
    width: 49%;
    height: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
}

.quoteAndEdit {
    display: flex;
    position: relative;

}

.editActions { 
    position: absolute;
    left: 30%;
    top: 30%;
    display: flex;
    gap: 2rem;

}

.quoteIcon {
    align-self: flex-start;
    width: 8%;
    margin: 15px;
    margin-bottom: 0
}

.saveButton {
    width: 70px;
    height: 50px;
    background-color: rgb(239,195,230);
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.2rem;
}

.cancelButton {
    width: 70px;
    height: 50px;
    background-color: rgb(239,195,230);
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.1rem;
}


.carousel {
    position: absolute;
    top: 15%;
    display: flex;
    align-items: center;
}

.viewButtons {
    background-color: white;
    color: #9C89B8;
    font-size: 3rem;
    font-weight: bolder;
    border: none;
    width: 50px;
    height: 50px;
}



.viewInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F0E6EF;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    height: 50vh;
}

.fitPhrase {
    height: 50vh;
    display: flex;
    align-items: center;
}

.viewPhrase {
    
    opacity: 1;
    font-family: "Inter", sans-serif;
    color: rgb(135,96,187);
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.5rem;
    overflow: auto;
    height:70%;
}

hr {
    position: absolute;
    align-self: center;
    border-bottom: 5px solid #9C89B8;
    margin-top: 0;
    width: 85%;
    bottom: 25%;
}

.viewAuthor {
    position: absolute;
    bottom: 0;
    font-style: italic;
    align-self: flex-end;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    margin-right: 20px;
    margin-bottom: 20px;

}

.buttons {
    display: flex;
    width: 40%;
    margin-bottom: 5%;
    justify-content: space-evenly;
}
.viewModificar {
    width: 60px;
    height: 60px;
    background-color: rgb(239,195,230);
    border-radius: 30px;
    border: none
}

#viewPencil {
    width: 40px;
    height: 45px;
}

.viewDelete {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(239,195,230);
    border: none
}

#viewBin {
    width: 35px;
    height: 40px;
}

.otherButtons {
    height: 25%;
    display: flex;
    justify-content: space-evenly;
}

.viewCollaborate {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    justify-content: space-between;
    gap: 15px;
}

.viewAdd {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: rgb(239,195,230);
    border: none
}

#viewPlus {
    width: 50px;
    height: 50px;
}

.viewExplore {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    justify-content: space-between;
    gap: 15px;
}

.viewGallery {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: rgb(239,195,230);
    border: none
}

#viewList {
    width: 50px;
    height: 50px;
}

.viewInfo:hover {
    background-color: rgb(218, 204, 231);
}

@media (width <= 1110px) {
    .buttons {
        position: relative;
        left: 30%;
        top: 12%;
        gap: 40px;
        flex-shrink: 0;
    }

    .viewAuthor {
        position: relative;
        bottom: 10%;

    }


}

@media (width <= 992px) {
    .viewPhoto {
        display: none;
    }
    .rightFrame {
        width: 100%;
        left: 0;
    }

    .carousel {
        width: 100%;
    }


}

/*Tablet Pequeña / Móvil Horizontal*/
@media (width <= 767px) and (width > 576px) {
    .viewPhoto {
    display: none;
    }
    .rightFrame {
        width: 100%;
        left: 0;
    }

    .carousel {
        width: 100%;
    }

}

/*Móvil Estándar*/
@media (width <= 576px) {
    .viewPhoto {
    display: none;
    }
    .rightFrame {
        width: 100%;
        left: 0;
    }
    .carousel {
        width: 100%;
    }

}

/*Móvil Pequeño*/
@media (width <= 400px) {
        .viewPhoto {
    display: none;
    }
    .rightFrame {
        width: 100%;
        left: 0;
    }
    .carousel {
        width: 100%;
    }
}
