.app-footer {
    background-color: rgba(var(--rgb-secondary), 1);
    color: rgba(var(--rgb-primary), 1);
    text-align: center;
    padding: var(--spacing-s
    ) 0;
    width: 100%;
    line-height: 1.0;
    margin: 0;
    display: block;

}

.footer-text {
    margin: 0;
    padding: 0;
    line-height: 1.0;
    font-size: 0.7rem;
    font-weight: bold;
}