.app-header {
    background-color: rgba(var(--rgb-secondary), 1);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: var(--spacing-xs) 0;
}

.header-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-l);
}

.header-title {
    color: rgba(var(--rgb-primary), 1);
    font-size: 1.8rem;
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-logo {
    height: 120px;
    width: auto;
    flex-shrink: 0;
    margin-left: var(--spacing-l);
}

/* Media Query */
@media (max-width: 767px) {
    .app-header {
        padding: var(--spacing-xs) 0;
    }
    .header-content {
        padding: 0 var(--spacing-m);
    }
    .header-title {
        font-size: 1.2rem;
        text-align: center;
    }
    .header-logo {
        height: 90px;
        margin-left: var(--spacing-m);
    }
}

@media (max-width: 575px) {
    .app-header {
        padding: var(--spacing-xs) 0;
    }
    .header-content {
        padding: 0 var(--spacing-s);
    }
    .header-title {
        font-size: 1rem;
        text-align: center;
    }
    .header-logo {
        height: 60px;
        margin-left: var(--spacing-s);
    }
}

@media (max-width: 400px) {
    .header-content {
        padding: 0 var(--spacing-xs);
    }
    .header-title {
        font-size: 0.8rem;
        flex-grow: 1;
        text-align: center;
    }
    .header-logo {
        height: 40px;
        margin-left: var(--spacing-xs);
    }
}