/* src/Header.css */

.app-header {
    background-color: rgba(var(--rgb-secondary), 1);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: var(--spacing-s) 0;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 0 140px 0 var(--spacing-l);
}

.header-title {
    color: rgba(var(--rgb-primary), 1);
    font-size: 2.2rem;
    margin: 0 auto;
    flex-grow: 1;
    text-align: center;
    z-index: 10;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-logo {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 130px;
    width: auto;
}

/* Media Query */
@media (max-width: 767px) {
    .app-header {
        padding: var(--spacing-s) 0;
    }
    .header-content {
        padding: 0 105px 0 var(--spacing-m);
    }
    .header-title {
        font-size: 1.5rem;
    }
    .header-logo {
        height: 95px;
    }
}

@media (max-width: 575px) {
    .app-header {
        padding: var(--spacing-xs) 0;
    }
    .header-content {
        padding: 0 60px 0 var(--spacing-s);
    }
    .header-title {
        font-size: 1rem;
    }
    .header-logo {
        height: 50px;
    }
}

@media (max-width: 400px) {
    .header-content {
        padding: 0 45px 0 var(--spacing-s);
    }
    .header-title {
        font-size: 0.8rem;
    }
    .header-logo {
        height: 40px;
    }
}