.viewContainer {
    display: flex;
}

.viewPhoto {
    width: 50%;
    max-width: 3500px;
    max-height: 100%;
    min-width: 50vw;
    min-width: 50vw;
    position: fixed;
    bottom: 0;
}

.carousel {
    display: flex;
    position: fixed;
    left: 45%;
    top: 30%;
}
.viewButtons {
    display: flex;
    flex-direction: column;
    background-color: rgb(240,230,239);
    border-radius: 100px;
    align-items: center;
    margin: 50px;
    width: 500px;
    height: 1000px;
    border: 1px outset rgb(84, 54, 112);

}

#box1 {
    position: relative;
    left: 350px;
    top: 30px;
    box-shadow: 5px 5px 0px 0px rgb(84, 54, 112); 
    z-index: 1;

}

#box3 {
    position: relative;
    right: 350px;
    top: 30px;
    box-shadow: 5px 5px 0px 0px rgb(84, 54, 112); 
    z-index: 1;
}

#box3:hover {
    background-color: rgb(206, 161, 248);
}

#box1:hover {
    background-color: rgb(206, 161, 248);
}

.viewInfo {
    display: flex;
    flex-direction: column;
    background-color: rgb(240,230,239);
    border-radius: 100px;
    align-items: center;
    margin: 50px;
    border: 1px outset rgb(84, 54, 112);
    width: 2000px;
    height: 1000px;
    box-shadow: 5px 5px 0px 0px rgb(84, 54, 112); 
    z-index: 2;

}

.quoteIcon {
    width: 200px;
    align-self: flex-start;
    position: relative;
    left: 100px;
    top: 50px;
}

.viewInfo:hover {
    background-color: rgb(170, 99, 236);
}

p {
    padding: 50px;
}
.viewPhrase {
    opacity: 1;
    font-size: 3vmin;
    padding-bottom: 0;
    font-family: "Inter", sans-serif;

}

.viewAuthor {
    align-self: flex-end;
    font-size: 80%;
    font-size: 3vmin;
    padding-top: 0;
        font-family: "Inter", sans-serif;
}

