.viewContainer {
    border: 2px solid black;
    display: flex;
    margin: auto;
}

.viewPhoto {
    width: 50%;
    min-width: 600px;
    height: auto;
}

.carousel {
    display: flex;
    width: 50%;
}

.viewButtons {
    background-color: none;
    color: #9C89B8;
    font-weight: bolder;
}

.quoteIcon {
    align-self: flex-start;
    width: 20%;
    margin: 15px;

}

.viewInfo {
    display: flex;
    flex-direction: column;
    background-color: #F0E6EF;
    border-radius: 30px;
    margin: 50px;
    width: 600px;
    height: auto;

}

.viewPhrase {
    opacity: 1;
    font-family: "Inter", sans-serif;
    margin-left: 20px;
    margin-right: 20px;

}

hr {
    border-bottom: 5px solid #9C89B8;
    margin: 25px;
    width: 85%;
}

.viewAuthor {
    align-self: flex-end;
    font-family: "Inter", sans-serif;
    margin-right: 20px;

}

.viewInfo:hover {
    background-color: rgb(218, 204, 231);
}


/*

@media (max-width: 600px) {
    .viewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .viewPhoto {
    position: fixed;
    bottom: 0;
    justify-self: center;
    }

    .carousel {
        align-self: center;
        justify-self: center;
    }
}
@media (min-width: 600px) {
    .viewContainer {
    display: flex;
    flex-direction: column;
    }
    .viewPhoto {
    position: fixed;
    bottom: 0;
    justify-self: center;
    }

    .carousel {
    position: fixed;
    top: 20vw;
    right: 20vw;

    }
@media (max-width: 600px) {
    .viewInfo 
}
@media (min-width: 600px) {
    ...
}
@media  (min-width: 768px) {
    ...
}
@media  (min-width: 992px) {
    ...
}
@media (min-width: 1200px) {
    ...
}
}

*/