.viewContainer {
    position: relative;
    align-self: center;
    display: flex;
    flex: 1;
    width: 90%;
    height: 90%;
}

.viewPhoto {
    width: 50%;
    min-width: 10vw;
    max-width: 50vw;
    max-height: 90%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0;
}

.carousel {
    position: absolute;
    left: 50%;
    top: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.viewButtons {
    background-color: white;
    color: #9C89B8;
    font-size: 3rem;
    font-weight: bolder;
    border: none;
    width: 50px;
    height: 50px;
}

.quoteIcon {
    align-self: flex-start;
    width: 8%;
    margin: 15px;
    margin-bottom: 0

}

.viewInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F0E6EF;
    border-radius: 30px;
    margin: 50px;
    width: 100%;
    height: 50vh;
}

.fitPhrase {
    height: 50vh;
}

.viewPhrase {
    opacity: 1;
    font-family: "Inter", sans-serif;
    color: rgb(135,96,187);
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.5rem;
    overflow: auto;
    height:70%;
}

hr {
    position: absolute;
    align-self: center;
    border-bottom: 5px solid #9C89B8;
    margin-top: 0;
    width: 85%;
    bottom: 25%;
}

.viewAuthor {
    position: absolute;
    bottom: 0;
    font-style: italic;
    align-self: flex-end;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    margin-right: 20px;
    margin-bottom: 20px;

}

.buttons {
    display: flex;
    width: 40%;
    margin-bottom: 5%;
    justify-content: space-around;
}
.viewModificar {
    width: 60px;
    height: 60px;
    background-color: rgb(239,195,230);
    border-radius: 30px;
    border: none
}

#viewPencil {
    width: 40px;
    height: 45px;
}

.viewDelete {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(239,195,230);
    border: none
}

#viewBin {
    width: 35px;
    height: 40px;
}

.viewInfo:hover {
    background-color: rgb(218, 204, 231);
}


/*

@media (max-width: 600px) {
    .viewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .viewPhoto {
    position: fixed;
    bottom: 0;
    justify-self: center;
    }

    .carousel {
        align-self: center;
        justify-self: center;
    }
}
@media (min-width: 600px) {
    .viewContainer {
    display: flex;
    flex-direction: column;
    }
    .viewPhoto {
    position: fixed;
    bottom: 0;
    justify-self: center;
    }

    .carousel {
    position: fixed;
    top: 20vw;
    right: 20vw;

    }
@media (max-width: 600px) {
    .viewInfo 
}
@media (min-width: 600px) {
    ...
}
@media  (min-width: 768px) {
    ...
}
@media  (min-width: 992px) {
    ...
}
@media (min-width: 1200px) {
    ...
}
}

*/