.viewContainer {
    display: flex;
    align-items: center;
}

.viewPhoto {
    width: 3500px;
    max-width: 150%;
}

.viewButtons {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    font-size: 280px;
    color: blueviolet;

}

.viewInfo {
    display: flex;
    flex-direction: column;
    font-size: 700%;
    background-color: blueviolet;
    border-radius: 100px;
    
}

